<p>{{section.settings.copyright}}</p>


{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "id" : "copyright",
        "label": "Copyright-text",
        "type" : "text"

      }
    ],
    "max_blocks": 5,
    "blocks" : [
      {
        "name": "Navigation column",
        "type": "navigation",
        "settings": [
          {
            "type": "link_list",
            "id": "linkList",
            "label" : "Navigation menu"
          }
        ]

      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}