<h1>FOOTER bbb</h1>


{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "id" : "copyright",
        "label": "Copyright-text",
        "type" : "text"

      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}