  .fade-in {
    opacity: 0;
    animation: fadeIn ease-in .5s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


.textstyle {
  color: red
}

.banana {
 background-color: rgba(255, 165, 0, 0.5);
  

}

