.header-wrapper {
  border-top: 7px solid #F9F50B;
}


.header__menu-item {
  list-style: none;
  letter-spacing: 0.2rem; 
}


.header__menu-item:hover span {
  text-decoration: none;
}
#HeaderMenu-vape-kits:hover,
#HeaderMenu-liquids:hover,
#HeaderMenu-batteries:hover,
#HeaderMenu-tanks:hover,
#HeaderMenu-coils:hover,
#HeaderMenu-accessories:hover,
#HeaderMenu-last-chance:hover {
 
 
}

.icon-caret {
  transition: 0.3s;
  /* display: none; */
}
.list-menu__item--active {
   text-decoration: none;
}

details[open] .header__menu-item .header__active-menu-item {
  
  transition: 0.3s;
  font-weight: bold;
}

