  .fade-in {
    opacity: 0;
    animation: fadeIn ease-in .5s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

/* enjoy your shopping */
.textstyle {
  letter-spacing: 2px;
  font-weight: bold;
  /* padding-top: 1rem;
  padding-bottom: 1rem; */
  font-size: 1.4rem;
  color: #f4f4f1;
}
.banner__heading {
  color: #f4f4f1;
}
.banner__box {
  background-color: rgba(10, 10, 0, 0.3);
  /* max-width: 500px; */
  padding: 2rem 3rem !important;
  border: 3px solid rgba(10, 10, 0, 0.3);
}
.banner__heading {
  letter-spacing: 2px;
}
.banner__buttons {
  font-weight: bold;
}

.divider-123 {
  height: 2px;
  width: 20px;
  background-color: yellow;
  margin: auto
}