.header-wrapper {
  border-top: 5px solid red;
}
.header__menu-item {
  list-style: none;
  transition: 0.3s;
  letter-spacing: 0.2rem;

 
}
.header__menu-item:hover span {
  text-decoration: none;
}
#HeaderMenu-vape-kits:hover,
#HeaderMenu-liquids:hover,
#HeaderMenu-batteries:hover,
#HeaderMenu-tanks:hover,
#HeaderMenu-coils:hover,
#HeaderMenu-accessories:hover,
#HeaderMenu-last-chance:hover {
  font-weight: bold;
  color: red;

  transform: translateX(2px);
}
.icon-caret {
  transition: 0.3s;
  display: none;
}
.list-menu__item--active {
   text-decoration: none;
}

details[open] .header__menu-item .header__active-menu-item {
  color: red; /* Replace with your desired color */
  transition: 0.3s;
}

