/* FAQ page  */

.faq-page {
  padding: 60px 0;
border: 1px solid black;
}

.faq-page-width {
  margin: 0 auto;
  width: calc(100% - 40px);
  max-width: 500px;
}
.faq-page-header {
  padding-bottom: 40px;
}
.faq-page-header h1 {
 font-size: 44px;
  margin-bottom: 10px;
}
.faq-page-header-content {
  font-size: 21px;
}
.faq-page-category {
  text-transform: uppercase;
  opacity: 0.4;
  font-size: 14px;
  margin-bottom: 20px;
  
}