/* FAQ page  */

.faq-page {
  padding: 60px 0;
  background-color: red;
}

.faq-page-width {
  margin: 0 auto;
  width: calc(100% - 40px);
  max-width: 500px;
}
.faq-page-header {
  padding-bottom: 60px;
}
.faq-page-header h1 {
 font-size: 44px;
  margin-bottom: 10px;
}
.faq-page-header-content {
  font-size: 21px;
}