/* FAQ page  */

.faq-page {
  /* padding: 60px 0; */
  border: 1px solid black;
}

.faq-page-width {
  margin: 0 auto;
  width: calc(100% - 40px);
  max-width: 500px;
  border: 1px solid black;
}
.faq-page-header {
  padding-bottom: 40px;
}
.faq-page-header h1 {
 font-size: 2.5rem;
}
.faq-page-header-content {
  font-size: 1.25rem;
}
.faq-page-category {
  text-transform: uppercase;
  opacity: 0.4;
  font-size: 1rem;
  
}