<div class="page-content page-full">
  <div class="rte text-center">
    <header class="section-header">
      <h1 class="section-header__title">{{ page.title }}</h1>
    </header>
    <div class="rte rte--nomargin">
      {{ page.content }}
    </div>
  </div>
  <div class="closeby-embed-3796e6ad2586cf2a9dee9715e8b7b734"></div>
  <script>window.closeby = { mapKey: "3796e6ad2586cf2a9dee9715e8b7b734", options: { embed: true, height: 600 } };</script>
  <script src="https://embed.closeby.co/v1.js" defer></script>
</div>